/*
 * © 2020 シン合同会社 - SHIN LLC
 * https://shin-dev.com
 */

/* Base */
.window-title {
  margin-bottom: 6px !important;
}

/* CardNumber */
.td-badges .td-badges__badge {
  color: #5e6c84;
  display: inline-block;
  margin: 0 4px 4px 0;
  max-width: 100%;
  min-height: 20px;
  overflow: hidden;
  position: relative;
  padding: 2px;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: top;
}

.td-badges .td-badges__badge-text {
  font-size: 12px;
  padding: 0 4px 0 2px;
  vertical-align: top;
  white-space: nowrap;
}

/* CardNumberOnCardLocation */
.td-card-detail-badges {
  display: inline-block;
  vertical-align: middle;
}

.td-card-detail-badges .td-card-detail-badges__badge {
  color: #5e6c84;
  max-width: 100%;
  min-height: 20px;
  overflow: hidden;
  position: relative;
}

.td-card-detail-badges .td-card-detail-badges__badge-text {
  font-size: 1rem;
  white-space: nowrap;
}

/* CopyButtonOnCardLocation */
.td-card-detail-buttons {
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
}

.td-card-detail-buttons .td-card-detail-buttons__child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.td-card-detail-buttons__child[data-copied=true] > *:first-child,
.td-card-detail-buttons__child:not([data-copied=true]) > *:last-child {
  display: none;
}

.td-card-detail-buttons .td-card-detail-buttons__child:last-child {
  margin-right: 0;
}

.td-card-detail-buttons .td-card-detail-buttons__button {
  margin: 0;
  padding: 1px 4px;
  width: 6em;
}

/* チラつき防止のためカバー画像は最初非表示 */
.js-card-cover {
  display: none;
}
